<div cdkDropListGroup>
  <app-card-todo-component
    [cardTitle]="`To Do [${this.todoService.todosPending().length}]`"
    cdkDropList
    [cdkDropListData]="todoService.todosPending()"
    (cdkDropListDropped)="handleDrop($event)"
    [cdkDropListConnectedTo]="['todo-in-process', 'todo-done']"
    id="todo-pending"
  >
    <mat-icon action-icon fontIcon="restart_alt"></mat-icon>

    @for(todo of todoService.todosPending(); track todo._id) {
    <app-todo-item-component
      todo
      cdkDrag
      [todoData]="todo"
    ></app-todo-item-component>
    }
  </app-card-todo-component>

  <app-card-todo-component
    [cardTitle]="`In Progress [${this.todoService.todosInprogress().length}]`"
    cdkDropList
    [cdkDropListData]="todoService.todosInprogress()"
    (cdkDropListDropped)="handleDrop($event)"
    [cdkDropListConnectedTo]="['todo-pending', 'todo-done']"
    id="todo-in-process"
  >
    <mat-icon action-icon fontIcon="restart_alt"></mat-icon>

    @for(todo of todoService.todosInprogress(); track todo._id) {
    <app-todo-item-component
      todo
      cdkDrag
      [todoData]="todo"
    ></app-todo-item-component>
    }
  </app-card-todo-component>

  <app-card-todo-component
    [cardTitle]="`Done [${this.todoService.todosDone().length}]`"
    cdkDropList
    [cdkDropListData]="todoService.todosDone()"
    (cdkDropListDropped)="handleDrop($event)"
    [cdkDropListConnectedTo]="['todo-pending', 'todo-in-process']"
    id="todo-done"
  >
    <mat-icon action-icon fontIcon="restart_alt"></mat-icon>

    @for(todo of todoService.todosDone(); track todo._id) {
    <app-todo-item-component
      todo
      cdkDrag
      [todoData]="todo"
    ></app-todo-item-component>
    }
  </app-card-todo-component>
</div>
