<form class="form__container" [formGroup]="addTodoForm" (ngSubmit)="onSubmit()">
  <div class="form__field">
    <label class="form__field-label" for="title">Title</label>
    <input
      placeholder="e.g Feature development"
      class="form__field-input"
      type="text"
      name="title"
      id="title"
      formControlName="name"
    />
  </div>
  <div class="form__field">
    <label class="form__field-label" for="status">Status</label>
    <!-- TODO: custom select element -->
    <select
      name="status"
      id="status"
      class="form__field-input"
      formControlName="state"
    >
      @for(status of status; track $index) {
      <option value="{{ status.value }}">
        {{ status.name }}
      </option>
      }
    </select>
  </div>
  <div class="form__field">
    <label class="form__field-label" for="tags">Tags</label>
    <app-multi-select-tag-component
      formControlName="tagIds"
    ></app-multi-select-tag-component>
    <!-- <input
      class="form__field-input"
      type="text"
      name="title"
      id="tags"
      formControlName="tags"
    /> -->
  </div>
</form>
