<header>
  <div class="left">
    <div class="toggle-sidebar" (click)="handleToggle()">
      <mat-icon
        aria-hidden="false"
        aria-label="Toggle sidebar"
        fontIcon="dehaze"
      ></mat-icon>
    </div>
    <div class="logo">
      <div class="image">H</div>
      <p class="name">hub admin</p>
    </div>
  </div>
  <div class="right">
    <div class="search">
      <mat-icon
        aria-hidden="false"
        aria-label="Search"
        fontIcon="search"
      ></mat-icon>
    </div>
    <div class="apps">
      <mat-icon
        aria-hidden="false"
        aria-label="Other services"
        fontIcon="apps"
      ></mat-icon>
    </div>
    <div class="notifications">
      <mat-icon
        aria-hidden="false"
        aria-label="Notifications of user"
        fontIcon="notifications"
      ></mat-icon>
    </div>
    <div class="user__account">
      <img
        src="https://img.freepik.com/premium-vector/avatar-young-man-minimalist-cartoon-icon-drawing-vector-illustration_608387-13.jpg"
        class="avatar"
        alt=""
        width="32"
        height="32"
      />
      <p class="email">nguyenminhtri1808t@gmail.com</p>
    </div>
  </div>
</header>
