<app-dialog-component
  (isOpenChange)="onChangeDialog($event)"
  [isOpen]="isOpen()"
>
  <h3 dialog-title>Add Task</h3>
  <app-form-create-todo-component
    #formAddTodo
    dialog-content
    (onCreateTodo)="formSubmit($event)"
  ></app-form-create-todo-component>
  <div dialog-footer>
    <div class="actions__container">
      <app-button-component
        buttonVariant="outline"
        class="actions__cancel"
        buttonSize="medium"
        (clicked)="onCancel()"
      >
        Cancel
      </app-button-component>

      <app-button-component
        buttonVariant="outline"
        class="actions__create"
        buttonSize="medium"
        (clicked)="onCreate()"
      >
        Create
      </app-button-component>
    </div>
  </div>
</app-dialog-component>
