<div class="input__add__sub__todo">
  <form (submit)="onSubmitAddSubTodo($event)">
    <input
      [value]="valueInput()"
      (input)="onChangeInput($event)"
      type="text"
      required
    />
  </form>

  <ul class="sub__todo-list">
    @for(subTodo of subTodos(); track $index) {
    <li class="sub__todo-item">
      <div class="sub__todo-name">{{ subTodo }}</div>
      <div class="icon" (click)="onRemoveSubTodo($index)">
        <mat-icon fontIcon="close"></mat-icon>
      </div>
    </li>
    }
  </ul>
</div>
