<div class="todo__item" [attr.todoId]="todoData().id">
  <div class="todo__item-icon">
    <mat-icon fontIcon="help_outline"></mat-icon>
  </div>
  <div class="todo__item-content">
    <div class="name">{{ todoData().name }}</div>
    <div class="short-information">
      #{{ todoData().id }} created yesterday by
      {{ todoData().createdBy.fullName }}
    </div>

    <ul class="tags__list">
      @for(tag of todoData().tags; track $index) {
      <li class="tag__item">{{ tag.name }}</li>
      } @empty {
      <li class="tag__item">No tags</li>
      }
    </ul>

    @if(hasSubTodo()) {
    <hr />

    <div class="sub__todo">
      <div class="sub__todo-heading">
        <div class="title" (click)="handleToggle()">
          <div class="value">
            Task {{ completedSubTodo().length }}/{{
              todoData().subTodos.length
            }}
          </div>
          <div class="action">
            <mat-icon fontIcon="add_circle"></mat-icon>
          </div>
        </div>
        <div class="process">
          <mat-progress-bar [value]="progressSubTodo()"></mat-progress-bar>
          <div class="value">{{ progressSubTodo() }}%</div>
        </div>
      </div>

      <ul class="sub__todo-list" [class.open]="isOpenSubTodo()">
        @for(subTodo of todoData().subTodos; track $index) {
        <li class="sub__todo-item">
          <mat-checkbox
            (change)="handleToggleSubTodo($event)"
            [value]="subTodo._id"
            [checked]="subTodo.isDone"
            >{{ subTodo.name }}</mat-checkbox
          >
        </li>
        }
      </ul>
    </div>
    }
  </div>
</div>
