:host {
  // Style variables of header
  --title-size: 28px;
  --title-weight: 600;
  --title-color: var(--color-white);

  // Style variables of scrum information
  --information-gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 18px;

  & > &__content {
    width: 100%;
    flex-grow: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;

    & > h1.header__content-title {
      font-size: var(--title-size);
      font-weight: var(--title-weight);
      color: var(--title-color);
    }
  }

  & > &__actions {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.scrum__information {
  display: flex;
  justify-content: flex-start;
  gap: var(--information-gap);
  align-items: center;
  padding-bottom: 24px;
}

.scrum__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;

  & > app-card-component {
    grid-column: span 4;
  }
}
