:host {
  // Style variables of header
  --title-size: 28px;
  --title-weight: 600;
  --title-color: var(--color-white);

  // Style variables of scrum information
  --information-gap: 24px;

  // Style variables custom dialog
  --dialog-width: 498px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 18px;

  & > &__content {
    width: 100%;
    flex-grow: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;

    & > h1.header__content-title {
      font-size: var(--title-size);
      font-weight: var(--title-weight);
      color: var(--title-color);
    }
  }

  & > &__actions {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.scrum__information {
  display: flex;
  justify-content: flex-start;
  gap: var(--information-gap);
  align-items: center;
  padding-bottom: 24px;
}

app-dialog-component {
  ::ng-deep .dialog__container {
    width: var(--dialog-width);
  }

  .actions__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    ::ng-deep app-button-component.actions__cancel {
      button {
        border-color: #798e98;
        color: #798e98;

        &:hover {
          background-color: #798e98;
          color: var(--color-white);
        }
      }
    }
  }
}
